
.side-section{
    background-color:rgb(219, 255, 255);
    height:100vh;
    border-top-right-radius:40px ;
    border-bottom-right-radius:40px ;
    width:25vw;
    display:block;

}
.user-profile{
    height:60px;
    width:60px;
    margin-top:3%;
    border-radius:50%;
}
.user-info>a{
    display:flex;
    justify-content: center;
    align-items: center;
}
.user-name{
    display:inline;
    text-decoration: none;
    /* text-underline-offset:none; */
    font-size: 30px;
    text-transform: capitalize;
    color:black;
    font-weight: 700;
}
.username-a{
text-decoration:none;
font-family: 'Nunito Sans';
}
.options-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items: center; */
  
    background-color:rgb(187, 230, 255);
}
.options-section>a{
    height:80px;
    /* margin:-18px 0px; */
    text-decoration: none;
    color:black;
    font-family: 'Nunito Sans';
    font-size:22px;
    vertical-align:center;

}
.options-section>a:hover{
    background-color:rgb(242, 255, 219);
    transition:all 0.4s ease-in-out;}
.list-items-info{
    /* display:flex; */
    /* justify-content: center;
    align-items:center; */
    padding-top:25px;
    text-align: center;
    text-justify: center;
    vertical-align: center;
}
.list-display{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    /* background-color:rgb(187, 230, 255); */
}
.list-display>a{
    text-decoration: none;
    color:black;
    margin-top:3vh;
}
.lists{
    /* background-color:lightgreen; */
    width:100%;
    text-align: center;
}
.add-container{
    position:fixed;
    /* background-color:rgb(187, 230, 255); */
    /* background-color:lightgoldenrodyellow; */
    bottom:0px;
    width:inherit;
    bottom:0px;
    /* left:7vw; */
     display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}
.add-btn{
   width:100%;
   display:inline-block;
   margin:0px 10px;
}