.head{
    /* background-color:red; */
    height:20vh;
    font-size:50px;
    font-weight:500;
    text-align:start;
    padding-top:5vh;
    }
.list-container{
    display:flex;
    height:100vh;
    flex-direction:column;
 align-content: end;
}
.my-day-list::-webkit-scrollbar {
    display: none;
  } 
  /* Hide scrollbar for IE, Edge and Firefox */
.my-day-list{
    /* background-color:rgb(174, 201, 219); */
    margin-top:3.5vh;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    scroll-behavior: smooth;
    max-height:60vh;
    overflow:auto;
    /* flex-direction: column;
    display: flex; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.todo-item-check{
    margin-left:30px;
    margin-top:10px;
    /* padding-top:10px; */
}
.todo-item{
    height:5vh;
}

.add-div{
 /* background-color:red; */
 position:fixed;
 bottom:0px;
 height:10vh;
 left:relative;
}
.add-new-task{
    width:10vw;
}
.add-new-task:focus{
    transition:all 5000s ease-in-out;
}
.task-title{
    max-width: max-content;
}
.todo-list-items{
    /* margin-top:1vh; */
    /* padding-left:10px; */
    /* display:flex; */
    height:8vh;
   /* background-color:rgb(196, 199, 121); */
   border-radius:8px;
   padding:2vh;
   /* justify-items: center; */
   display:flex;
   flex-direction:row;
   /* align-items: center; */
}
.todo-item-content{
    width:65vw;
    height:50px;
    padding-top:10px;
    cursor: pointer;
     display:flex;
    /* align-content: end; */
    flex-direction:row; 
    /* flex-flow:row;
    flex-basis:auto; */
    /* align-self:flex-start; */
}
.imp-btn,.edit-btn{
    background-color:rgb(0, 154, 26);
    color:rgb(247, 247, 247);
    font:bold;
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    border:0px transparent solid;
    border-radius:10px;
    /* flex-basis:; */
    align-self:flex-start;
    justify-self:flex-end;
    /* position:fixed; */
    /* right:auto; */
}
