.head{
    height:20vh;
    font-size:50px;
    font-weight:500;
    text-align:start;
    padding-top:5vh;
    }
.list-container{
    display:flex;
    height:100vh;
    flex-direction:column;
 align-content: end;
}
.my-day-list::-webkit-scrollbar {
    display: none;
  } 
.my-day-list{
  
    margin-top:3.5vh;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    scroll-behavior: smooth;
    max-height:60vh;
    overflow:auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
#edit-note{
    margin-left:70px;
    margin-top:-20px;
}
.todo-item-check{
    margin-left:30px;
    margin-top:10px;
    /* padding-top:10px; */
}
.todo-item{
    height:5vh;
}

.add-div{
 position:fixed;
 bottom:0px;
 height:10vh;
 left:relative;
}
.add-new-task{
    width:10vw;
}
.add-new-task:focus{
    transition:all 5000s ease-in-out;
}
.task-title{
    max-width: max-content;
}
.todo-list-items{
    height:8vh;
   border-radius:8px;
   padding:2vh;
   display:flex;
   flex-direction:row;
}
.todo-item-content{
    width:65vw;
    height:50px;
    padding-top:10px;
    cursor: pointer;
     display:flex;
    flex-direction:row;
}
#imp-btn,#edit-btn{
    background-color:rgb(0, 154, 26);
    color:rgb(247, 247, 247);
    font:bold;
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    border:0px transparent solid;
    border-radius:10px;
    align-self:flex-start;
    justify-self:flex-end;
}
#edit-div{
  transition: all 1s ease-in-out;
}
.edit-div{
    background-color:rgba(255, 0, 0, 0.434);
    position:absolute;
    right:0px;
    height:100vh;
    width:30vw;
    transition:all 2s  ease-in-out;
    display:none;
    animation-name:showSideBar;
    animation-duration:1s;
}

@keyframes showSideBar {
    0%   {opacity: 0%;
        height:100vh;
        width:5vw;
    }
    100% {opacity:100%;  height:100vh;width:30vw;
    }
    
}
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    z-index: 9999; 
    transition: opacity 1s ease-in-out;
}
.overlay.active {
    opacity: 1;
    pointer-events: auto; 
} */