
<div class="container-fluid list-container">
    <div class="head row-12">My Day</div>
    <div class="my-day-list">
            <%items.forEach((ele)=>{%>
    <%console.log('heeeeeeeeeeeeeee')%>
    <!-- <div class="form-check todo-list-items"> -->
          <input class="form-check-input todo-item-check" type="checkbox" id="flexCheckDefault<%=ele._id%>" style="margin-top:15px" >
            <label class="form-check-label todo-item-content" for="flexCheckDefault<%=ele._id%>">
              <%=ele.title%>
            </label>
            <br/>
    <%})%>
    </div>
</div>
