
<!-- <body>
<div class="container">
    <div class="inner-head">
        these are teh contents of the items that are passed
    </div>
    <!this is the ejs and we have to add the % to all -->
     <!-- from herer
<items.forEach((ele)=>{%>
    <div class="inner-content-div">
        <=ele.title>
        </div>
    <}) >
</div>

</body> -->