
<body>
<div class="container">
    <div class="inner-head">
        these are teh contents of the items that are passed
    </div>
<%items.forEach((ele)=>{%>
    <div class="inner-content-div">
        <%=ele.title%>
        </div>
    <%}) %>
</div>

</body>