
<div class="container-fluid list-container">
    <div class="head row-12">My Day</div>
    <div class="my-day-list">
            <%items.forEach((ele)=>{%>
    <%console.log('heeeeeeeeeeeeeee')%>
    <!-- <div class="form-check todo-list-items"> -->
          <input class="form-check-input todo-item-check" type="checkbox" id="flexCheckDefault<%=ele._id%>" style="margin-top:15px" >
            <label class="form-check-label todo-item-content" for="flexCheckDefault<%=ele._id%>">
              <%=ele.title%>
            </label>
            <br/>
    <%})%>
    </div>
    <div class="add-div container">
      <div class="select-div">
        <form class="form-class">
        <div class="form-group">
        <input class="form-control mr-sm-2 add-new-task" id="add-new-task" type="text" placeholder="Add a new Task" style="width:50vw" onsubmit="handleSubmission()">
        <button type="submit" class="btn btn-primary sub-btn" aria-hidden="true" hidden="true">Submit</button>
        </div>
        </form>
      </div>
    </div>
</div>
