
<div class="container-fluid list-container">
  <div class="edit-div" id="edit-div">
  <h1>Edit Task</h1>
  <form>
    <label for="edit-title">
      Task Title:
    </label>
    <input type="text" id='edit-title'>
    <br/>
    <label for="edit-tags">
      Tags : 
    </label>
<input type="text" id="edit-tags" >
<br/>
<label for="edit-datetime">
  Date
</label>
<input type="datetime-local" id="edit-datetime" >
<br/>
<button type="submit" class="btn btn-primary">Submit</button>
<button class="btn btn-primary">Cancel</button>
  </form>
  </div>
    <div class="head row-12">My Day</div>
    <div class="my-day-list">
            <%items.forEach((ele)=>{%>
   
    <div class="form-check todo-list-items">
          <input class="form-check-input todo-item-check" type="checkbox" id="flexCheckDefault<%=ele._id%>" style="margin-top:15px" >
            <label class="form-check-label todo-item-content" for="flexCheckDefault<%=ele._id%>" >
              <div class="task-title">
              <%=ele.title%>
              </div>
              <!-- <button class=' btn-primary'>Mark important</button> -->
            </label>
           
            </div>

    <%})%>
    </div>
    <div class="add-div container">
      <div class="select-div">
        <form class="form-class">
        <div class="form-group">
        <input class="form-control mr-sm-2 add-new-task" id="add-new-task" type="text" placeholder="Add a new Task" style="width:50vw" onsubmit="handleSubmission()">
        <button type="submit" class="btn btn-primary sub-btn" aria-hidden="true" hidden="true">Submit</button>
        </div>
        </form>
      </div>
    </div>
</div>
