<div class="contianer register-login-cont">
    <div class="register-login-head">
     Login
    </div><br/>
    <form class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter you Email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <br/>
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
        </div>
       <br/>
       <br/>
        <button type="submit" class="btn btn-primary sub-btn" style="background-color:rgba(39, 140, 156, 0.834)">Submit</button>
      </form>
</div>

