<div class="contianer register-login-cont">
    <div class="register-login-head">
        Register
    </div><br/>
    <form class="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter you Full Name">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
       
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter you Email">
           
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter you Phone No.">
          </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
        </div>
       <br/>
       <br/>
        <button type="submit" class="btn btn-primary sub-btn" style="background-color:rgba(39, 140, 156, 0.834)">Submit</button>
      </form>
</div>






<!-- <div class="reg-container">
    heelo wrold this is the register page 
    <br>
    we need to develop this thing out of the views
</div> -->

